<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Genetic Colors</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">Genetic Colors</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active" ng-click="about()"><a href="#/about">About</a></li>
      </ul>
    </div>
  </nav>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div ng-controller="appController" id="body">    
    <div class="col-sm-2 card-container">
      <div ng-class="population.length > 0 ? 'card flippable flip' : 'card flippable'" ng-cloak>            
        <div id="population-card" class="flex-container color-container">
            <div ng-repeat="citizen in population"> 
              <div id="citizen-{{$index}}" ng-class="citizen.selected ? 'color-box selected' : 'color-box'"
                    color-box color={{citizen.color}}></div>
            </div>      
        </div>
        <div class="text-section">
          Population
        </div>
      </div>

      <div ng-class="population.length > 0 ? 'card flippable flip' : 'card flippable'" ng-cloak>            
      <div class="flex-container color-container">
          <select ng-change="combinationChanged()" ng-model="recombination" class="form-control" type="dropdown">
            <option value="0">Weighted</option>
            <option value="1">Uniform</option>          
            <option value="2">Dominance</option>                        
          </select>
           <select ng-model="dominantGene" class="form-control" type="dropdown">
            <option value="0">Red</option>
            <option value="1">Green</option>          
            <option value="2">Blue</option>                        
          </select>
      </div>
      <div class="text-section">
        Settings
      </div>      
      </div>

    </div>
      
    <!-- </div> -->


    <div ng-view class="col-sm-4 col-sm-offset-2 center card"></div>

<!--     <div ng-show="targetSelected" id="target-color" class="col-md-1 card">
      <span> Target:
      <div class="color-box" color-box color={{targetColor}}
             is-target="true"></div>
       </span>
    </div> -->
    <div ng-cloak class="col-sm-2 col-sm-offset-2 card-container">
      <div id="target-color" ng-class="targetSelected ? 'card color-card flippable flip' : 'card color-card flippable'">
        <div class="color-section"></div>
        <div class="text-section"> Target</div>      
        <div ng-show="targetRGBs != null" class="rgb-section"> {{targetRGBs}}</div>  
      </div>

      <div id="target-color" ng-class="showMe ? 'card color-card flippable flip' : 'card color-card flippable'">
        <div class="picture-section"></div>
        <div class="text-section"> Atallah Hezbor</div>      
        <div class="rgb-section"> Author</div>  
      </div>

    </div>
    
</div>
        
    
  </div>

  

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="app.js"></script>
  <script src="controllers/targetColorController.js"></script>
  <script src="controllers/populationController.js"></script>
  <script src="controllers/simulationController.js"></script>
  <script src="controllers/appController.js"></script>
  <script src="directives/colorInput.js"></script>
  <script src="directives/colorBox.js"></script>
  <script src="directives/colorPicker.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>

